# Ignore binary executables
*
!*.*
!*/
!Makefile

# Directories
.vscode/
.ionide/
todo/
out/
build/
.pls_cache/
.metals/
.idea/
lib/
node_modules/

# Files
test.in
.*
*.class
*.out
*.iml
*.class
*.o
*.hi
*.xml
*.jar
*.json
*.cmo
*.cmi
